dt                       = 0.002         ; ps 
nsteps_eq                = 1000000       ; 2 ns
nsteps_pr                = 2000000       ; 4 ns

nstxout                  = 5000
nstlog                   = 5000
nstenergy                = 5000

vdwtype                  = Cut-off
DispCorr                 = no
vdw-modifier             = Force-switch
rvdw                     = 1.4
rvdw-switch              = 1.2
coulombtype              = Cut-off
rcoulomb                 = 1.4
rlist                    = 1.4   

constraints              = all-bonds
constraint-algorithm     = LINCS
lincs-order              = 4

gen-vel_eq               = yes
gen-vel_pr               = no
continuation_eq          = no
continuation_pr          = yes