dt                       = 0.002         ; ps 
nsteps_eq                = 10000       
nsteps_pr                = 10000       
out_freq                 = 500

vdwtype                  = Cut-off
DispCorr                 = EnerPres
vdw-modifier             = None
rvdw                     = 1.4
rvdw-switch              = 0.0
coulombtype              = Cut-off
rcoulomb                 = 1.4
rlist                    = 1.4   

lincs-order              = 4

gen-vel_eq               = yes
gen-vel_pr               = no
continuation_eq          = no
continuation_pr          = yes