integrator               = md
tcoupl                   = berendsen

dt                       = 0.002         ; ps 
nsteps_eq                = 100000       ; 0.2 ns
nsteps_pr                = 250000       ; 0.5 ns

nstxout                  = 2500            ; 100 snapshots
nstlog                   = 500
nstenergy                = 500

vdwtype                  = Cut-off
DispCorr                 = no
vdw-modifier             = Force-switch
rvdw                     = 1.4
rvdw-switch              = 1.2
coulombtype              = Cut-off
rcoulomb                 = 1.4
rlist                    = 1.4    
cutoff-scheme            = group

constraints              = all-bonds
constraint-algorithm     = LINCS
lincs-order              = 8

gen-vel_eq               = yes
gen-vel_pr               = no
continuation_eq          = no
continuation_pr          = yes
