integrator               = md
tcoupl                   = berendsen

dt                       = 0.002         ; ps 
nsteps_eq                = 10000       ; 0.02 ns
nsteps_pr                = 10000       ; 0.02 ns

nstxout                  = 100            ; 100 snapshots
nstlog                   = 100
nstenergy                = 100

vdwtype                  = User
DispCorr                 = EnerPres
vdw-modifier             = None
rvdw                     = 1.0
rvdw-switch              = 0.0
coulombtype              = User
rcoulomb                 = 1.0
rlist                    = 1.0   
cutoff-scheme            = group

constraints              = all-bonds
constraint-algorithm     = LINCS
lincs-order              = 8

gen-vel_eq               = yes
gen-vel_pr               = no
continuation_eq          = no
continuation_pr          = yes
