integrator               = md
tcoupl                   = v-rescale

dt                       = 0.002         ; ps 
nsteps_eq                = 250000       ; 0.5 ns
nsteps_pr                = 250000       ; 0.5 ns

nstxout                  = 2000            ; 1000 snapshots
nstlog                   = 500
nstenergy                = 500

vdwtype                  = Cut-off
DispCorr                 = EnerPres
vdw-modifier             = None
rvdw                     = 1.4
rvdw-switch              = 0.0
coulombtype              = Cut-off
rcoulomb                 = 1.4
rlist                    = 1.4   
cutoff-scheme            = Verlet

constraints              = all-bonds
constraint-algorithm     = LINCS
lincs-order              = 4

gen-vel_eq               = yes
gen-vel_pr               = no
continuation_eq          = no
continuation_pr          = yes
